.fork {
    background: url(../img/testem2.jpg);
    background-size: cover;
    font-family: 'Montserrat';
  
    padding-top: 80px;
  }
  .fork__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
  
    @include text-center;
  
    color: #FFFFFF;
  }
  .fork__card-box {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
  }
  .fork__card {
    transition: 200ms;
    width: 257px;
    height: 457px;
    list-style-type: none;
  
    margin-top: 60px;
    margin-bottom: 150px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  
    background: hsla(0, 0%, 100%, 0.11);
  }
  .fork__card-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
  
    margin: 0px;
    padding: 36px 60px;
    
    @include flex-center;
    @include text-center;
  
    
    background: hsla(0, 0%, 100%, 0.06);
  }
  .fork__card-price {
    transition: 200ms;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    
    @include text-center;
  
    margin: 0;
    margin-top: 20px;
    
    color: #FFFFFF;
  }
  .fork__card-price--bold {
    margin: 0;
    font-weight: 900;
  }
  .fork__period {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
    @include text-center;
  
    margin: 0;
    margin-top: 5px;
    
    color: #FFFFFF;
  }
  .fork__divider {
    transition: 200ms;
    margin: 30px auto;
    width: 60px;
    height: 5px;
    background: #8D81AC;
  }
  .fork__card-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  
    @include text-center;
  
     margin: 0px 9%;
  
    color: #FFFFFF;
  }
  .fork__button {
    transition: 200ms;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  
    display: block;
  
    margin: 60px 18% 30px 18%;
    padding: 15px 0px;
    border-radius: 30px;
  
    color: #FFFFFF;
    background: hsla(0, 0%, 100%, 0.15);
  }
  @media screen and (min-width: 768px) {
    .fork__card:hover {
      width: 299px;
      height: 560px;
      list-style-type: none;
  
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
  
      background: hsla(295, 20%, 24%, 0.84);
    }
    .fork__card:hover .fork__card-price {
      font-size: 82px;
    }
    .fork__card:hover .fork__divider {
      margin: 45px auto;
    }
    .fork__card:hover .fork__button {
      margin: 110px 18% 30px 18%;
    }
  }
  @media screen and (max-width: 768px) {
    .fork__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 44px;
    }
    .fork__card-box {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
  
    }
    .fork__card-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      padding: 36px 60px;
    }
    .fork__card-price {
      font-size: 60px;
      line-height: 90px;
  
      margin: 0;
      margin-top: 20px;
    }
    .fork__card-price--bold {
      margin: 0;
      font-weight: 900;
    }
    .fork__period {
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      margin-top: 5px;
    }
    .fork__divider {
      margin: 30px auto;
      width: 60px;
      height: 5px;
    }
    .fork__card-details {
      font-size: 16px;
      line-height: 18px;
      margin: 0px 9%;
    }
    .fork__button {
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
  
      margin: 60px 18% 30px 18%;
      padding: 15px 0px;
    }
  }
  @media screen and (max-width: 320px) {
    .fork__title {
      font-size: 28px;
      line-height: 42px;
    }
    .fork__card-box {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
  
    }
    .fork__card {
      width: 257px;
      height: 457px;
      margin-bottom: 10px;
    }
    .fork__card-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      padding: 36px 60px;
    }
    .fork__card-price {
      font-size: 60px;
      line-height: 90px;
  
      margin: 0;
      margin-top: 20px;
    }
    .fork__card-price--bold {
      margin: 0;
      font-weight: 900;
    }
    .fork__period {
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      margin-top: 5px;
    }
    .fork__divider {
      margin: 30px auto;
      width: 60px;
      height: 5px;
    }
    .fork__card-details {
      font-size: 16px;
      line-height: 18px;
      margin: 0px 9%;
    }
    .fork__button {
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
  
      margin: 60px 18% 30px 18%;
      padding: 15px 0px;
    }
  }