@import "./mixin";
@import "./variables";

.head{
    background-color: #27262A;
    @include flex-between;
    @include margin-center;
    padding: 32px 16px;
    position: relative;
    &__wrapper{
        background-color: #000000;
    }
    &__logo{
        display: flex;
        align-items: center;
     &>span{
     display: none;
     font-family: 'Lato';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 16px;
     text-transform: uppercase;
     margin-left: 17px;
     color: $purple-text;
     }
     &.hover{
        span, img{
            transition: filter 0.3 lineal;
            filter: brightness(0) invert(1)
        }
     }
    }
    &__buy-btn{
        border-radius: 40px;
        border: solid 1px $purple-text;
        background-color: $purple-text;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        color: $white-text;
        padding: 11px 10px;
        transition: color 0.3s ease, background-color 0.3s ease;
        &:hover{
            background-color: $white-text;
            color: $purple-text;
        }
    }
    &__menu-btn{
        display: block;
        background-color: transparent;
        border: none;
        width: 26px;
        img:first-of-type{
         display: block;
        }
        img:last-of-type{
            display: none;
        }
        &[data-active="true"]{
         img:first-of-type{
          display: none;
        }
        img:last-of-type{
            display: block;
        }
       }
    }
    &__list{
        display: none;
        padding-bottom: 14px;
        position: absolute;
        flex-direction: column;
        background-color: $menu-active;
        left: 50%;
        top: 99%;
        min-width: 290px;
        gap: 10px;
        text-align: center;
        transform: translateX(50%);
        z-index: 1;
    }
    &__link{
    @include flex-between;
    min-height: 91px;
    padding-left: 35px;
    font-size: $middle-title-font-size;
    color: $white-text;
    border-bottom: 3px solid #3b3b3b;
    position: relative;
     &:hover{
     color: $white-text;
     }
     &:focus{
        color: $purple-text; 
     &::before{
        width: 8px;
        left: 0px;
        top: 50%;
        height: 53px;
        content: "";
        position: absolute;
        background-color: $purple-text;
        transform: translateY(-50%);
     }
     }

    }
    &__menu-btn[data-active="true"] ~ &__menu{
    display: flex;
    }
}

@media screen and (min-width: $tab){
    .head{
      flex-wrap: wrap;
      padding: 21px 20px 17px;
      max-width: $desktop;
      &__logo>span{
       display: inline;
      }
      &__buy-btn{
        font-size: $h3-title-font-size;
        min-width: 116px;
      }
      &__menu-btn{
        display: none;
      }
      &__list{
      display: flex;
      justify-content: space-between;
      background-color: unset;
      margin: 0 auto;
      transform: translateX(0);
      position: static;
      width: 80%;
      flex-direction: row;
      align-items: center;
      padding-top: 22px;
      padding-bottom: 0;
      } 
      &__link{
      font-size: $h3-title-font-size;
      line-height: 18px;
      font-weight: 700px;
      border: none;
      color: $purple-text;
      min-height: unset;
      padding-left: 0;
      &:focus{
        color: $white-text;
      &::before{
       content: none;
      }
      }
      }
    }
}

@media screen and (min-width: $desktop){ 
    .head{
     background-color: unset;
     &__list{
        padding-top: 0;
        width: 70%;
        flex-direction: row;
     order: 1;
     margin-right: 48px;
     }
     &__buy-btn{
        order: 2;
     }
    }
}