.hero{
    min-height: 615px;
    max-height: 800px;
    text-align: center;
    position: relative;
    &__background{
        background-image: url("../img/hero.jpg");
        width: 100%;
        background-position-y: 70%;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title{
     font-weight: bold;
     padding: 50px 30px;
     color: $white-text;
     font-size: $h1-title-font-size;
     line-height: $h1-title-font-size;
     margin-bottom: 19px;
    }
    &__text{
        line-height: 24px;
        margin-bottom: 14px;
    }
    &__text--pink{
        font-size: 18px;
        color: $purple-text;
    }
    &__text--grey{
        text-transform: uppercase;
        font-size: $basic-font-size;
        color: $grey-text;
    }
    &__btn{
        color: $white-text;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        background: $purple-text;
        border-radius: 40px;
        border: 1px solid $purple-text;
        padding: 13px 29px;
        min-width: 290px;
        margin-bottom: 55px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 100%;
        width: 80%;
        transition: color 0.3s ease, backgroun-color 0.3s ease;
     &:hover{
        background-color: $white-text;
     color: $purple-text;
     }
     &::after{
     position: absolute;
     content: "Unlimited 30-Days Trial Period";
     font-size: $basic-font-size;
     color: $grey-text;
     left: 50%;
     bottom: -65%;
     width: 100%;
     transform: translateX(-50%)
     }
    }
}

@media screen and (min-width: $tab){
    .hero{
        min-height: 680px;
        &__title{
            font-size: 72px;
            line-height: 72px;
        }
        &__text{
            font-size: 24px;
            line-height: 24px;
        }
        &__btn{
            font-weight: bold;
            font-size: 21px;
            line-height: 23px;
            padding: 19px 61px;
            max-width: 390px;
            margin-bottom: 55px;
        }
    }
}

@media screen and (min-width: $desktop){
    .hero{
     min-height: 800px;
     &__title{
        font-size: 82px;
        line-height: 82px;
     }
     &__text{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 19px;
     }
     &__text--grey{
        font-size: 16px;
        line-height: 16px;
     }
    }
}