@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin margin-center {
    margin: 0 auto;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-center {
    align-items: center;
    text-align: center;
  }