
.editor {
    font-family: 'Montserrat';
    background: white;
    padding: 50px 160px;
  }
  .editor__mini-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  
    @include text-center;
  
    color: #848E97;
  }
  .editor__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    
    @include text-center;
  
    text-transform: uppercase;
    
    color: #635C73;
  }
  .editor__text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
  
    @include text-center;
  
    color: #323232;
  }
  .editor__buttons-box {
    padding: 0px;
    @include flex-center;
  }
  .editor__button {
    height: 25px;
    list-style-type: none;
    margin-left: 10px;
    display: flex;
  
    border: 2px solid #dddddd;
    border-radius: 4px;
  }
  .editor__button-item {
    text-decoration: none;
    
    @include flex-center;
  }
  .editor__first {
    height: 25px;
    background: gainsboro;
    background: linear-gradient(0deg, rgb(243, 242, 242) 0%, rgb(230, 230, 230) 50%, rgb(240, 240, 240) 100%);
    
    @include flex-center;
  
    padding: 0px 10px;
    border-right: 2px solid #dddddd;
  }
  .editor__button-item--first {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }
  .editor__button-text {
    font-weight: 800;
    font-size: 12px;
    line-height: 32px;
  
    color: black;
  }
  .editor__button-numb {
    font-weight: 800;
    font-size: 10px;
    line-height: 32px;
  
    display: flex;
    align-items: center;
  
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
  
    color: black;
  }
  @media screen and (max-width: 768px) {
    .editor {
      padding: 50px 40px;
    }
    .editor__mini-text {
      line-height: 16px;
    }
    .editor__title {
      font-size: 42px;
      line-height: 42px;
    }
  }
  @media screen and (max-width: 320px) {
    .editor {
      padding: 50px 20px;
    }
    .editor__mini-text {
      font-size: 14px;
      line-height: 15px;
    
      margin-bottom: 80px;
    }
    .editor__title {
      font-size: 26px;
      line-height: 28px;
    }
    .editor__text {
      font-size: 14px;
      line-height: 20px;
    }
    .editor__buttons-box {
      flex-wrap: wrap;
    }
    .editor__button {
      margin-left: 5px;
      margin-bottom: 20px;
    }
  }