.tasty {
    font-family: 'Montserrat';
    background-color: rgb(59, 28, 88);
    background: url(../img/testem1.jpg);
    background-size: cover;
    padding-bottom: 5px;
  }
  .tasty__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
  
    padding-top: 100px;
    
    @include text-center;
  
    color: white;
  }
  .tasty__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    margin: 80px;
    gap: 80px;
  }
  .tasty__post {
    
    @include flex-center;
    flex-direction: column;
  
    list-style-type: none;
  }
  .tasty__quote {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  
    @include text-center;
  
    color: #FFFFFF;
  }
  .tasty__button {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  
    margin-left: 250px;
    margin-right: 250px;
  
    @include text-center;
  
    color: #A291A5;
  }
  .tasty__separate {
    width: 780px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
  
    background: #645766;
  }
  @media screen and (max-width: 768px) {
    .tasty {
      padding-bottom: 5px;
    }
    .tasty__title {
      font-size: 42px;
      line-height: 44px;
    }
    .tasty__content {
      grid-template-columns: repeat(2, 1fr);
    }
    .tasty__button {
      margin-left: 28px;
      margin-right: 28px;
    }
    .tasty__separate {
      width: 555px;
    }
  }
  @media screen and (max-width: 320px) {
    .tasty {
      padding-bottom: 5px;
    }
    .tasty__title {
      font-size: 36px;
      line-height: 48px;
    }
    .tasty__content {
      grid-template-columns: repeat(1, 1fr);
      padding: 0px;
      margin: 20px;
    }
    .tasty__button {
      margin-left: 28px;
      margin-right: 28px;
      margin: 10px;
    }
    .tasty__separate {
      width: 245px;
    }
  }