@import "./global";
@import "./mixin";

.youget{
    overflow: hidden;
    div:nth-last-of-type(2n){
        margin-bottom: 25px;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__title{
      color: $purple-text;
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 36px;
      padding: 10px;
    }
    &__card-img-container{
        margin-bottom: 23px;
    }
    &__card-title{
        color: $black-text;
        font-size: 16px;
        font-weight: normal;
        line-height: 16px;
        margin-bottom: 14px;
    }
    &__content-box{
        padding: 10px;
    }
    &__card-text{
        color: $grey-text;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__img-box{
        display: flex;
        justify-content: flex-start;
        padding: 20px 0 25px 10px;
       overflow: hidden;
    }
    &__img{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.15), 5px 5px 5px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (min-width: $tab){
  .youget{
    &__wrapper{
        padding-left: 20px;
    }
    &__title{
        font-size: 42px;
        font-weight: 44px;
    }
    &__content-box{
        padding-right: 20px;
    }
    &__card{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }
    &__card-img-container{
        width: 115x;
    }
    &__card-img{
        grid-column: 1 / span 1;
    }
    &__card-box{
        display: flex;
        flex-direction: column;
        text-align: left;
        grid-column: 2 / span 5;
    }
    &__card-title{
        margin: 10px;
    }
    &__img-box{
        justify-content: flex-end;
    }
    &__img{
     width: 100%
    }
  }
}

@media screen and (min-width: $desktop){
    .youget{
        background-color: $uget-bg;
     &__wrapper{
      margin-top: 98px;
      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-areas: 
      "text title"
      "text img"
      "text img"
      "text img";
     }
     &__title{
        font-size: 48px;
        font-weight: 50px;
        grid-area: title; 
        margin-bottom: -30px;
     }
     &__content-box{
        grid-area: text;
     }
     &__img-box{
        justify-content: flex-start;
        grid-area: img;
        display: flex;
     }
     &__img{
        height: 474px;
     }
    }
}