$basic-font-size: 14px;
$h3-title-font-size: 16px;
$h1-title-font-size: 48px;
$middle-title-font-size: 26px;

$purple-text: #8D81AC;
$black-text: #323232;
$grey-text: #848E97;
$white-text: #ffffff;

$menu-active: #333333;

$uget-bg: #f4f4f4f4;

$tab: 481px;
$desktop: 993px;